<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSS Aggregator Frontend</title>
    <link rel="stylesheet" type="text/css" href="assets/css/site.css">
    <script src="assets/js/react/react.min.js"></script>
    <script src="assets/js/react/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="client.js"></script>
  </head>
  <body role="document">
    <div class="container">
      {{{ yield }}}
    </div>
  </body>
</html>

